.container
    .well.left-padding-lg.right-padding-lg
        img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
        legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} interviews
        .pull-right
            form.form-inline.left-padding-lg.right-padding-lg
                .form-group
                    input.form-control(ng-model="search_text" placeholder="Filter")
                .form-group.margin-left-med
                    select.form-control(ng-model="sort_order" ng-options="item.value as item.text for item in sort_options")
        .pull-left.left-padding-lg.bottom-padding-lg
            .row
                text Users:
            .row(ng-repeat="user in user_list").left-padding-lg
                text(ng-if="assessment.users.length===0") No users
                a(href="mailto:{{user.email}}" ng-if="assessment.users.length!==0")  {{user.firstName}}  {{user.lastName}}
                text  - {{user.role}}
            .row
                text Status: {{assessment.status| addSpaces | ucfirst}}
            .row
                text Last edited by
                a(href="mailto:{{edited_by.email}}")  {{edited_by.firstName}}  {{edited_by.lastName}}
                text  on
                span(ng-repeat="mod in assessment.modified")
                    em(ng-show="$last")  {{mod.modified_date | date}}
            .row questions_flagged: {{assessment.questions_flagged}}
            .row questions_complete: {{assessment.questions_complete}}
            .row question_set_length: {{assessment.question_set_length}}
            .row.top-padding-med
                a.btn.center-block.btn-primary(href="/admin/assessments-admin/{{assessment.assessment_ID}}") Go to main page
            .row.top-padding-med
                a.btn.center-block.btn-primary(href="/admin/assessments-admin/desk-research/{{assessment.assessment_ID}}") Go to desk research
            .row.top-padding-med
                a.btn.center-block.btn-primary(href="/admin/assessments-admin/secondary-sources/{{assessment.assessment_ID}}") Go to Secondary sources


            //.row(ng-if="assessment.questions_complete===0")
            //	text(ng) Number of questions complete: {{assessment.questions_complete}} (0%)
            //.row(ng-if="assessment.questions_complete!==0")
            //	text Number of questions complete: {{assessment.questions_complete}} (
            //	text {{((assessment.questions_complete/assessment.question_list.length)*100 | number :2)}}
            //	text % complete)

        table.table.table-hover.table-striped.table-condensed
            thead
                tr
                    th.col-md-1.text-center Question number
                    th.col-md-1.text-center Question order
                    th.col-md-1 Indicator
                    th.col-md-3 Question
                    th.col-md-1 Data type
                    th.col-md-1 Status
                    th.col-md-1.text-center Score
                    th.col-md-1.text-center

            tbody
                tr(ng-repeat="answer in answer_list | filter: search_text | orderBy:sort_order")
                    td.col-md-1.text-center {{answer.question_order}}
                    td.col-md-1.text-center {{answer.question_flow_order}}
                    td.col-md-1 {{answer.question_indicator_ID}}
                    td.col-md-3 {{answer.question_text}}
                    td.col-md-1 {{answer.question_data_type | addSpaces | ucfirst}}
                    //td.col-md-1
                    //    .glyphicon.glyphicon-pencil(ng-if="answer.question_data_type==='text'")  {{answer.question_data_type | addSpaces | ucfirst}}
                    //    .glyphicon.glyphicon-check(ng-if="answer.question_data_type==='score'")  {{answer.question_data_type | addSpaces | ucfirst}}
                    td.col-md-1
                        .text-warning(ng-if="answer.status==='created'") {{answer.status | ucfirst}}
                        .text-info(ng-if="answer.status==='saved'") {{answer.status | ucfirst}}
                        .text-success(ng-if="answer.status==='approved'") {{answer.status | ucfirst}}
                        .text-success(ng-if="answer.status==='submitted'") {{answer.status | ucfirst}}
                        .text-danger(ng-if="answer.status==='flagged'") {{answer.status | ucfirst}}

                    //TODO fix missing data hadling
                    td.col-md-1.text-center {{answer.answer_score.option_text}} - {{answer.answer_score.value}}
                    //td.col-md-1(ng-if="answer.answer_score===undefined && answer.question_data_type!=='text'") None
                    //td.col-md-1(ng-if="answer.question_data_type==='score' && answer.answer_score!==undefined") {{answer.answer_score.option_text}} - {{answer.answer_score.value}}
                    //td.col-md-1(ng-if="answer.question_data_type==='text'")
                    td
                        a.btn.center-block.btn-default(href="/admin/assessments-admin/answer/{{answer.answer_ID}}") Go to answer page

