.container
   .well.left-padding-lg.right-padding-lg
      img.mapsicon(src="assets/mapsicon/all/{{assessment.assessment_ID | lowercase | limitTo: 2}}/vector.svg")
      legend.h3 {{assessment.country}} {{assessment.year}} {{assessment.version}} secondary data sources
      .pull-right
         form.form-inline.left-padding-lg.right-padding-lg
            .form-group
               input.form-control(ng-model="searchText" placeholder="Filter")
            .form-group.margin-left-med
               select.form-control(ng-model="sortOrder" ng-options="item.value as item.text for item in sort_options")
      .pull-left.left-padding-lg.bottom-padding-lg
         .row
            text Users:
         .row(ng-repeat="user in user_list").left-padding-lg
            text(ng-if="assessment.users.length===0") No users
            a(href="mailto:{{user.email}}" ng-if="assessment.users.length!==0")  {{user.firstName}}  {{user.lastName}}
            text  - {{user.role}}
         .row
            text Status: {{assessment.status| addSpaces | ucfirst}}
         .row
            text Last edited by
            a(href="mailto:{{edited_by.email}}")  {{edited_by.firstName}}  {{edited_by.lastName}}
            text  on
            span(ng-repeat="mod in assessment.modified")
               em(ng-show="$last")  {{mod.modified_date | date}}
         .row.top-padding-med
            a.btn.center-block.btn-primary(href="/admin/assessments-admin/{{assessment.assessment_ID}}") Go to main page

      table.table.table-hover.table-striped.table-condensed
         thead
            tr
               th.col-md-1.text-center Question number
               th.col-md-3 Indicator name
               th.col-md-1 Indicator data type
               th.col-md-1 Status
               th.col-md-1 Input
               th.col-md-1 Value
               th.col-md-1.text-center
               th.col-md-1.text-center(ng-if="answer.question_mode!=='desk_research'")
         tbody
            tr(ng-repeat="answer in answer_list | filter: searchText | orderBy:sortOrder")
               td.col-md-1.text-center {{answer.question_order}}
               td.col-md-3 {{answer.question_text}}
               td.col-md-1 {{answer.question_data_type}}
               td.col-md-1
                  .text-danger(ng-if="answer.status==='created'") {{answer.status | ucfirst}}
                  .text-info(ng-if="answer.status==='saved'") {{answer.status | ucfirst}}
                  .text-success(ng-if="answer.status==='submitted'") {{answer.status | ucfirst}}
                  .text-warning(ng-if="answer.status==='flagged'") {{answer.status | ucfirst}}
               td.col-md-1
                  input.form-control(type="number" step="any" ng-if="answer.question_data_type==='percentage'" ng-model="answer.score")
                  input.form-control(type="number" ng-if="answer.question_data_type==='integer'" ng-model="answer.score")
                  input.form-control(type="number" step="any" ng-if="answer.question_data_type==='float'" ng-model="answer.score")
               td.col-md-1
                  .text(ng-if="answer.question_data_type==='percentage'") percentage value placeholder
                  .text(ng-if="answer.question_data_type==='integer'") integer value placeholder
                  .text(ng-if="answer.question_data_type==='float'") float value placeholder
               //// TODO add save and submit functionality
               td.col-md-1
                  button.btn.btn-primary(disabled) Save
               td.col-md-1
                  button.btn.btn-success(disabled) Submit
