div.top-padding-lg
    table.table.table-hover
        thead
            tr
                th.col-med-2 Country
                th.col-med-1 Year
                th.col.med-3 Users
                th.col-med-1 Status
                th.col-med-1 Started
                th.col-med-2 Last Edit
                th.col-med-1(ng-show="identity.currentUser.isSupervisor()")
                th.col-med-1
        tbody
            tr(ng-repeat="assessment in assessments | filter: search_text | orderBy:sort_order")
                td.col-med-2
                    a(href="/admin/assessments-admin/{{assessment.assessment_ID}}") {{assessment.country | ucfirst}}
                td.col-med-1 {{assessment.year}}
                td.col-med-3
                    .row
                        table.table(style="margin-top: -9px; margin-bottom: -9px")
                            tbody
                                tr(ng-repeat="user in assessment.users")
                                    td
                                        a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
                td.col-med-1 {{assessment.status | addSpaces | ucfirst}}
                td.col-med-1 {{assessment.start_date.date | date}}
                td.col-med-2(ng-if="assessment.edited_by")
                    a(href="mailto:{{assessment.edited_by.email}}") {{assessment.edited_by.lastName}}
                    text -
                    span(ng-repeat="mod in assessment.modified")
                        em(ng-show="$last") {{mod.modified_date | date}}
                td.col-med-2(ng-if="!assessment.edited_by")
                td.col-med-1(ng-show="identity.currentUser.isSupervisor()")
                    button.btn.btn-col.btn-default(ng-click="assessmentAssign(assessment.assessment_ID)") Assign
                td.col-med-1(ng-if="assessment.status!=='created'")
                    a.btn.btn-col.btn-primary(href="admin/assessments-admin/desk-research/{{assessment.assessment_ID}}") Desk research
                td.col-med-1(ng-if="assessment.status!=='created'")
                    a.btn.btn-col.btn-primary(href="admin/assessments-admin/interviews/{{assessment.assessment_ID}}") Interviews
                td.col-med-1(ng-if="assessment.status!=='created'")
                    a.btn.btn-col.btn-primary(href="admin/assessments-admin/secondary-sources/{{assessment.assessment_ID}}") Secondary sources
                td.col-med-1(ng-if="assessment.status==='created'")
                td.col-med-1(ng-if="assessment.status==='created'")
                td.col-med-1(ng-if="assessment.status==='created'")
                    button.btn.btn-col.btn-success(ng-click="assessmentStart(assessment.assessment_ID)") Start
                td.col-med-1(ng-if="assessment.status==='created'")