table.table.table-hover.table-striped.table-condensed
    thead
        tr
            th.col-sm-1.text-center Question number
            th.col-sm-1 Indicator
            th.col-sm-1 Question mode
            th.col-sm-1 Data type
            th.col-sm-5.text-center Question
            th.col-sm-1 Status
            th.col-sm-1.text-center Score
            th.col-sm-1
    tbody
        tr(ng-repeat="answer in answer_list | filter: search_text | orderBy:sort_order")
            td.col-sm-1.text-center {{answer.question_order}}
            td.col-sm-1 {{answer.question_indicator_ID}}
            td.col-sm-1 {{answer.question_mode | addSpaces | ucfirst}}
            td.col-sm-1 {{answer.question_data_type | addSpaces | ucfirst}}
            td.col-sm-5 {{answer.question_text}}
            td.col-sm-1
                .text-danger(ng-if="answer.status==='created'") {{answer.status | ucfirst}}
                .text-info(ng-if="answer.status==='saved'") {{answer.status | ucfirst}}
                .text-success(ng-if="answer.status==='submitted'") {{answer.status | ucfirst}}
                .text-success(ng-if="answer.status==='approved'") {{answer.status | ucfirst}}
                .text-warning(ng-if="answer.status==='flagged'") {{answer.status | ucfirst}}
            //TODO fix handling of non submitted scores
            td.col-sm-1.text-center {{answer.answer_score.option_text}} - {{answer.answer_score.value}}
            //td.col-sm-1(ng-if="answer.summary_score===undefined && answer.question_data_type!=='text'") None
            //td.col-sm-1(ng-if="(answer.question_data_type==='bool' || answer.question_data_type==='multi') && answer.summary_score!==undefined") {{answer.summary_score.option_text}} - {{answer.answer_score.value}}
            td
                a.btn.center-block.btn-default(href="/admin/assessments-admin/answer/{{answer.answer_ID}}") Go to answer page