//- Active buttons
.col-md-pull-2
    button.btn.btn-primary(ng-click="answerSubmit('submitted')") Submit answer
    | &nbsp;
    button.btn.btn-danger(ng-click="answerClear()") Reset answer
    | &nbsp;
    button.btn.btn-warning(ng-click="answerFlag()") Flag answer
    | &nbsp;
    button.btn.btn-success(ng-click="answerSubmit('approved')") Approve answer
    | &nbsp;
    button.btn.btn-default(ng-click="answerReturnMain()") Main menu
    | &nbsp;
    button.btn.btn-default(ng-click="answerReturnDesk()") Desk research
    | &nbsp;
    button.btn.btn-default(ng-click="answerReturnInterview()") Interviews
    | &nbsp;
    button.btn.btn-default(ng-click="answerReturnSecondary()") Secondary sources