//.container
//   .well.left-padding-lg.right-padding-lg
//      legend.h3 {{interviewee.firstName | ucfirst}} {{interviewee.lastName | ucfirst}}
//      div.left-padding-lg.right-padding-lg
//      .row.left-padding-lg.right-padding-lg.top-padding-lg
//          button.btn.btn-warning(ng-click="editIntervieweeDialog()") Edit interviewee info
//      .row.left-padding-lg.right-padding-lg.top-padding-lg
//         label Linked assessments:
//         .row(ng-repeat="assessment in interviewee.assessments").left-padding-lg
//            a(href="/admin/assessments-admin/{{assessment}}") {{assessment}}
//         .row.left-padding-lg.right-padding-lg.top-padding-lg
//            em.pull-left Add to assessment
//            .form-group(name="add_assessment_form").col-md-4
//               select.form-control(
//               ng-model="add_assessment"
//               required)
//                  option(value="" selected disabled) Select assessment (required)...
//                  option(ng-repeat="assessment in assessments" value="{{assessment.assessment_ID}}") {{assessment.text}}
//
//
//            button.btn.btn-primary(ng-click="addAssessment()" ng-disabed="!add_assessment") Add
//      .row.left-padding-lg.right-padding-lg.top-padding-lg.bottom-padding-lg
//         label Linked answers:
//         .row(ng-repeat="answer in interviewee.answers" ng-if="interviewee.answers.length > 0").left-padding-lg
//            a(href="/admin/assessments-admin/answer/{{answer}}") {{answer}}
//         .row(ng-if="interviewee.answers.length < 1").left-padding-lg None

.container.top-padding-med
   .well.left-padding-lg
      div.left-padding-lg.right-padding-lg.top-padding-med
         legend.h3 {{interviewee.firstName | ucfirst}} {{interviewee.lastName | ucfirst}}
         div.left-padding-lg.right-padding-lg.bottom-padding-lg
            .row.left-padding-lg.right-padding-lg.top-padding-lg
               button.btn.btn-warning(ng-click="editIntervieweeDialog()") Edit interviewee info
            .row.left-padding-lg.right-padding-lg.top-padding-lg
               table.table.table-hover.table-striped.table-condensed
                  thead
                     tr
                        th Linked assessments
                        th Linked answers
                        th Linked users
                  tbody
                     tr
                        td(ng-if="interviewee.assessments.length > 0")
                           .row(ng-repeat="assessment in interviewee.assessments").left-padding-lg
                              a(href="/admin/assessment-admin/{{assessment}}") {{assessment}}
                        td(ng-if="interviewee.answers.length > 0")
                           .row(ng-repeat="answer in interviewee.answers").left-padding-lg
                              a(href="/admin/assessments-admin/answer/{{answer}}") {{answer}}
                        td(ng-if="user_list.length > 0")
                           .row(ng-repeat="user in user_list").left-padding-lg
                              a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
                              text  - {{user.role}}
                        td(ng-if="interviewee.assessments.length < 1") None
                        td(ng-if="interviewee.answers.length < 1") None
                        td(ng-if="user_list.length < 1") None

            .row.left-padding-lg.right-padding-lg.top-padding-lg
               em.pull-left Add to assessment
               .form-group(name="add_assessment_form").col-md-4
                  select.form-control(
                  ng-model="add_assessment"
                  required)
                     option(value="" selected disabled) Select assessment
                     option(ng-repeat="assessment in assessments" value="{{assessment.assessment_ID}}") {{assessment.text}}
               button.btn.btn-primary(ng-click="addAssessment()" ng-disabed="!add_assessment") Add

         h3 Information
         div.right-padding-lg
            .row.left-padding-lg.right-padding-lg
               table.table.table-condensed
                  tbody
                     tr
                        td.col-med-3
                           .row
                              label Title:
                           .row(ng-if="interviewee.title")
                              text {{interviewee.title | ucfirst}}
                           .row(ng-if="!interviewee.title")
                              text N/A
                        td.col-med-4
                           .row
                              label First name:
                           .row
                              text {{interviewee.firstName | ucfirst}}
                        td.col-med-4
                           .row
                              label Last name:
                           .row
                              text {{interviewee.lastName | ucfirst}}
                     tr
                        td.col-med-4
                           .row
                              label Role:
                           .row
                              text {{interviewee.role | ucfirst}}
                        td.col-med-4
                           .row
                              label Job title:
                           .row(ng-if="interviewee.job_title")
                              text {{interviewee.job_title | ucfirst}}
                           .row(ng-if="!interviewee.job_title")
                              text N/A
                        td.col-med-3
                           .row
                              label Organization:
                           .row(ng-if="interviewee.organization")
                              text {{interviewee.organization}}
                           .row(ng-if="!interviewee.organization")
                              text N/A
                     tr
                        td.col-med-3
                           .row
                              label Phone:
                           .row(ng-if="interviewee.phone")
                              text {{interviewee.phone}}
                           .row(ng-if="!interviewee.phone")
                              text N/A
                        td.col-med-3
                           .row
                              label Phone (alt):
                           .row(ng-if="interviewee.alt_phone")
                              text {{interviewee.alt_phone}}
                           .row(ng-if="!interviewee.alt_phone")
                              text N/A
                        td.col-med-3
                           .row
                              label Email:
                           .row(ng-if="interviewee.email")
                              text {{interviewee.email}}
                           .row(ng-if="!interviewee.email")
                              text N/A
                     tr
                        td.col-med-3
                           .row
                              label Email (alt):
                           .row(ng-if="interviewee.alt_email")
                              text {{interviewee.alt_email}}
                           .row(ng-if="!interviewee.alt_email")
                              text N/A
                        td.col-med-3
                           .row
                              label Mailing address:
                           .row(ng-if="interviewee.mailing_address")
                              text {{interviewee.mailing_address}}
                           .row(ng-if="!interviewee.mailing_address")
                              text N/A
                        td.col-med-3
                           .row
                              label Attribution:
                           .row(ng-if="interviewee.attribution===false")
                              text.text-danger No
                           .row(ng-if="interviewee.attribution===true")
                              text.text-success Yes