<div class="container top-padding-med">
    <div class="well left-padding-lg right-padding-lg">
        <legend class="h3">Interviewee Admin Dashboard</legend>
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group"><input ng-model="searchText" ng-disabled="interviewees.length &lt; 1"
                                               placeholder="Filter" class="form-control"/></div>
                <div class="form-group margin-left-med"><select ng-model="sortOrder"
                                                                ng-disabled="interviewees.length &lt; 1"
                                                                ng-options="item.value as item.text for item in sortOptions"
                                                                class="form-control"></select></div>
            </form>
        </div>
        <table ng-if="interviewees.length &gt; 0"
               class="table table-hover table-striped table-condensed left-padding-lg right-padding-lg">
            <thead>
            <tr>
                <th class="col-md-1">First name</th>
                <th class="col-md-1">Last name</th>
                <th class="col-md-1"></th>
                <th class="col-md-2">Phone number</th>
                <th class="col-md-2">Role</th>
                <th class="col-md-1">Assessments</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in interviewees | filter:searchText | orderBy:sortOrder">
                <td class="col-md-1">{{i.firstName}}</td>
                <td class="col-md-1">{{i.lastName}}</td>
                <td class="col-md-1"><a href="mailto:i.lastName" class="btn btn-default">Email</a></td>
                <td class="col-md-2">{{i.phone}}</td>
                <td class="col-md-2">{{i.role}}</td>
                <td class="col-md-1">
                    <div ng-repeat="assessment in i.assessments" class="row"><a
                            href="/admin/assessments-admin/{{assessment}}">{{assessment}}</a></div>
                </td>
                <td class="col-md-1"><a href="/admin/interviewees-admin/{{i._id}}" class="btn btn-warning">Edit</a></td>
            </tr>
            </tbody>
        </table>
        <h1 ng-if="interviewees.length &lt; 1" class="text-danger">No interviewees created</h1></div>
</div>
