//- document page
.container.top-padding-med
    .well.left-padding-lg.right-padding-lg
        legend.h3 Document Admin Dashboard
        .pull-right
            form.form-inline
                .form-group
                    input.form-control(ng-model="searchText", placeholder="Filter")
                .form-group.margin-left-med
                    select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
        table.table
            thead
                tr
                    th Title
                    th Authors
                    th Type
                    th Cited by
                    th Assessments
                    th
                    th
            tbody
                tr(ng-repeat="doc in documents | filter:searchText | orderBy:sortOrder")
                    td
                        a(href="/admin/documents-admin/{{doc._id}}") {{doc.title}}
                    td
                        .row(ng-repeat="author in doc.authors") {{author.first_name}} {{author.last_name}}
                    td {{doc.type}}
                    td
                        .row(ng-repeat="user in doc.user_list")
                            a(href="mailto:{{user.email}}") {{user.firstName}} {{user.lastName}}
                    td
                        a(href="/admin/assessments-admin/{{assessment}}" ng-repeat="assessment in doc.assessments") {{assessment}}
                    td
                        a(href="{{doc.s3_url}}" target="_blank").btn.btn-primary View
                    td
                        a(href="/admin/documents-admin/{{doc._id}}").btn.btn-warning Edit