//- GEN SCRIPTS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angucomplete/angucomplete.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/vendor/angularjs-datepicker/src/js/angular-datepicker.js")
script(type="text/javascript", src="/vendor/angular-file-upload/dist/angular-file-upload.min.js")
script(type="text/javascript", src="/vendor/angular-filter/dist/angular-filter.js")
script(type="text/javascript", src="/vendor/angular-redactor/angular-redactor-9.x.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-sanitize/angular-sanitize.js")
script(type="text/javascript", src="/vendor/jquery-ui/jquery-ui.min.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")
script(type="text/javascript", src="/vendor/ngInfiniteScroll/build/ng-infinite-scroll.js")
script(type="text/javascript", src="/vendor/ng-csv/build/ng-csv.js")
script(type="text/javascript", src="/vendor/ng-form-group/index.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/redactor/redactor.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/nrgiContactTechCtrl.js")
script(type="text/javascript", src="/app/common/nrgiNotifier.js")
script(type="text/javascript", src="/app/main/nrgiMainCtrl.js")
script(type="text/javascript", src="/app/main/nrgiContactTechCtrl.js")

// SERVICES
script(type="text/javascript", src="/app/services/nrgiAnswerSrvc.js")
script(type="text/javascript", src="/app/services/nrgiAssessmentSrvc.js")
script(type="text/javascript", src="/app/services/nrgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/nrgiAuthLogsSrvc.js")
script(type="text/javascript", src="/app/services/nrgiContactTechSrvc.js")
script(type="text/javascript", src="/app/services/nrgiCountrySrvc.js")
script(type="text/javascript", src="/app/services/nrgiDocumentSrvc.js")
script(type="text/javascript", src="/app/services/nrgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/nrgiIntervieweeSrvc.js")
script(type="text/javascript", src="/app/services/nrgiQuestionSrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserListSrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserSrvc.js")
script(type="text/javascript", src="/app/services/utils/nrgiFileUploaderSrvc.js")
script(type="text/javascript", src="/app/services/utils/nrgiRequestSubmitterSrvc.js")
script(type="text/javascript", src="/app/services/utils/nrgiUtilsSrvc.js")
script(type="text/javascript", src="/app/services/utils/nrgiFiltersSrvc.js")
//- script(type="text/javascript", src="/app/services/rgiQuestionTextSrvc.js")
//- script(type="text/javascript", src="/app/services/rgiUploadMethodSrvc.js")
//- script(type="text/javascript", src="/app/services/ApiSrvc.js")
//- script(type="text/javascript", src="/app/services/rgiUploadSrvc.js")
//script(type="text/javascript", src="/app/services/nrgiSrvc.js")

// METHODS
script(type="text/javascript", src="/app/services/methods/nrgiAnswerMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiAssessmentMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiContactMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiDocumentMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiIntervieweeMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiQuestionMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiUserMethodSrvc.js")

//- ACCT CTRLS
script(type="text/javascript", src="/app/account/nrgiNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/nrgiProfileCtrl.js")
script(type="text/javascript", src="/app/account/nrgiRecoverPasswordCtrl.js")
script(type="text/javascript", src="/app/account/nrgiResetPasswordCtrl.js")

//- ASSESSMENT CTRLS
script(type="text/javascript", src="/app/assessments/nrgiAssessmentListCtrl.js")
script(type="text/javascript", src="/app/assessments/nrgiAssessmentDetailCtrl.js")

//- ANSWER CTRLS
script(type="text/javascript", src="/app/answers/nrgiAnswerDetailCtrl.js")
script(type="text/javascript", src="/app/answers/nrgiSecondarySourceListCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/nrgiUserCreateCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/questions/nrgiQuestionAdminCtrl.js")
script(type="text/javascript", src="/app/admin/questions/nrgiQuestionAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/documents/nrgiDocumentAdminCtrl.js")
script(type="text/javascript", src="/app/admin/documents/nrgiDocumentAdminDetailCtrl.js")
script(type="text/javascript", src="/app/admin/interviewees/nrgiIntervieweeAdminCtrl.js")
script(type="text/javascript", src="/app/admin/interviewees/nrgiIntervieweeAdminDetailCtrl.js")

//- DIRECTIVES
script(type="text/javascript", src="/app/directives/directives/nrgi-active-answer-buttons.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-answer-nav.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-assessments-detail-table.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-assessments-list-table.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-auth-logs.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-comments.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-document-table.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-interviewee-table.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-question-table.js")
script(type="text/javascript", src="/app/directives/directives/nrgi-user-table.js")
//script(type="text/javascript", src="/app/directives/directives/rgi-answer-form.js")
//script(type="text/javascript", src="/app/directives/directives/rgi-biblio-form.js")
//script(type="text/javascript", src="/app/directives/directives/rgi-flag-tabs.js")
//script(type="text/javascript", src="/app/directives/directives/rgi-prev-answers.js")
//script(type="text/javascript", src="/app/directives/modalWindow.js")

//- DIRECTIVE CTRLS
script(type="text/javascript", src="/app/directives/controllers/nrgiActiveAnswerButtonsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiAnswerNavCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiAssessmentsDetailTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiAssessmentsListTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiAuthLogsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiCommentsCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiDocumentTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiIntervieweeTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiQuestionTableCtrl.js")
script(type="text/javascript", src="/app/directives/controllers/nrgiUserTableCtrl.js")
//script(type="text/javascript", src="/app/directives/controllers/rgiAnswerFormCtrl.js")
//script(type="text/javascript", src="/app/directives/controllers/rgiAssessmentDetailTableCtrl.js")
//script(type="text/javascript", src="/app/directives/controllers/rgiAuthLogsCtrl.js")
//script(type="text/javascript", src="/app/directives/controllers/rgiBiblioFormCtrl.js")


//- DIALOG CTRLS
script(type="text/javascript", src="/app/dialogs/nrgiDialogFactory.js")
script(type="text/javascript", src="/app/dialogs/assessments/nrgiAssignAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/assessments/nrgiNewAssessmentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/flags/nrgiFlagAnswerDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/flags/nrgiFlagEditDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/questions/nrgiDeleteQuestionDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/nrgiEditDocumentDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/references/nrgiEditIntervieweeDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/users/nrgiDeleteUserDialogCtrl.js")
script(type="text/javascript", src="/app/dialogs/users/nrgiEditUserDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiDeleteProfileDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiDeleteQuestionDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiNewQuestionDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiNewAssessmentDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiFlagQuestionDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiFlagEditDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiCommentEditDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiNewDocumentDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiNewIntervieweeDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/nrgiNewRefDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/assessments/rgiMoveAssessmentDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/assessments/rgiMoveAssessmentConfirmationDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/assessments/rgiSubmitAssessmentConfirmationDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/assessments/rgiResubmitAssessmentConfirmationDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/answers/rgiFinalChoiceDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/comments/rgiCommentEditDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/questions/rgiNewQuestionDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/references/rgiNewRefDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/references/rgiNewDocumentDialogCtrl.js")
//script(type="text/javascript", src="/app/dialogs/references/rgiNewWebpageDialogCtrl.js")
////script(type="text/javascript", src="/app/dialogs/rgiMoveAssessmentConfirmationDialogCtrl.js")
